[submodule "node_modules/irc"]
	path = node_modules/irc
	url = https://github.com/martynsmith/node-irc.git
[submodule "node_modules/mongoose"]
	path = node_modules/mongoose
	url = https://github.com/LearnBoost/mongoose.git
[submodule "node_modules/mongodb"]
	path = node_modules/mongodb
	url = https://github.com/christkv/node-mongodb-native.git
[submodule "node_modules/hooks"]
	path = node_modules/hooks
	url = https://github.com/bnoguchi/hooks-js.git
[submodule "node_modules/colors"]
	path = node_modules/colors
	url = https://github.com/Marak/colors.js.git
